body {
  width: 95%;
  height: 100%;
  background-color: #202020;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #383838;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  border: none;
  padding: 5px;
  background-color: #202020;
}

.addFile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  border: none;
  padding: 5px;
}

.addFile:hover {
  background-color: #303030;
  cursor: pointer;
}


#modalDialog {
  width: 30%;
  height: 200px;
  background-color: #303030;
  position: absolute;
  z-index: 100;
  top: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addFile {
  width: 30%;
  height: 200px;
  background-color: #252525;
  position: absolute;
  z-index: 100;
  top: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createFile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  border: none;
  padding: 5px;
}

#createFile > img {
  width: 60px;
  content: url(https://cdn-icons-png.flaticon.com/512/1091/1091916.png)
}

#createFile:hover {
  background-color: #303030;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  margin: 5px;
  padding: 5px;
}

li:hover {
  background-color: #252525;
  cursor: pointer;
}

#contextMenu {
  width: 200px;
  height: 120px;
  position: fixed;
  background-color: #303030;
}

.card p {
  max-width: 70px;
  max-height: 50px;
  overflow: hidden;
}

.card:hover {
  background-color: #252525;
  cursor: pointer;
}